<div class="reservation-list">
    <div class="reservation-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2txP24J7E7sL8DhiWQKsRm2Rj3C5FX9CASNn_egFr6g&s" alt="Soba" class="room-image">
        <div class="room-details">
            <h2>Ime Sobe - Standardna</h2>
            <p>Lokacija: Novi Sad</p>
            <p>Kapacitet: 4 osobe</p>
            <p>Kvadratura: 30 m<sup>2</sup></p>
            <p>Cena po danu: $100</p>
            <p>Datum rezervacije: 25. oktobar 2023.</p>
        </div>
    </div>
    <!-- Ponovite .reservation-item za svaku dodatnu rezervaciju -->
    <div class="reservation-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2txP24J7E7sL8DhiWQKsRm2Rj3C5FX9CASNn_egFr6g&s" alt="Soba" class="room-image">
        <div class="room-details">
            <h2>Lux Apartman - Lux</h2>
            <p>Lokacija: Beograd</p>
            <p>Kapacitet: 2 osobe</p>
            <p>Kvadratura: 50 m<sup>2</sup></p>
            <p>Cena po danu: $200</p>
            <p>Datum rezervacije: 30. oktobar 2023.</p>
        </div>
    </div>
</div>
