<div class="form-container">
    <h2>Rezervacija Sale</h2>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Room Name: </mat-label>
            <input matInput [value]="data.room.name" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Room Location: </mat-label>
            <input matInput [value]="data.room.location" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date: </mat-label>
            <input matInput [value]="data.date" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Room Name: </mat-label>
            <input matInput [value]="data.room.name" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Room Name: </mat-label>
            <input matInput [value]="data.room.name" readonly>
        </mat-form-field>

        <!-- Ponovite za ostale podatke koje želite da prikažete -->
        <br>
        <button mat-button class="confirm-button">Confirm</button>
        <button mat-button class="cancel-button" (click)="onCancelClick()">Cancel</button>
    </form>
</div>
